@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<a asp-action="Privacy">
		<img src="~/img/masa2.jpg" class="img-thumbnail" style="height:200px" alt="Masa">
	</a>
    
</div>
